.nav-items{
    list-style: none;
    float: right;
    
}
.nav-items li{
    display:inline-block;
    list-style-type:none;
    margin-right:-4px;
    padding:10px;
    border-right:1px solid white;
}