*{
  font-family: 'Inter', sans-serif;
}


.Header{
  background-color: brown;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header--image{
  margin: 10px;
}

